.text-order{
    font-size: 20px;
    font-weight: 700;
}
.status-order{
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
}
.status-order > div{
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 16px;
    margin-right: 20px;
}
.status-order-item{
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: black;
    border: 1px solid black;
    border-radius: 16px;
    cursor: pointer;
}
.status-order-item:hover{
    background-color: var(--color-orange);
    border: none;
    color: white;
}
.status-order-active{
    background-color: var(--color-orange);
    border: none;
    color: white;
}
.table_order{
    color: black;
}
.btn-view-detail{
    width: 90px;
    height: 30px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 16px;
}
.btn-view-delete-order{
    width: 70px;
    height: 30px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 16px;
}
.content-order{
    border: 1px solid rgba(128, 128, 128, 0.53);
}
.content-order> td{
    /*border: 1px solid black;*/
    text-align: center;
    padding: 10px 0;
    border: 1px solid rgba(128, 128, 128, 0.53);
}
.input-product{
    width: 600px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.input-product > label{
    width: 130px;
    height: 50px;
}
.input-product > input{
    width: 400px;
    background-color: rgba(204, 204, 204, 0.15) !important;
    padding-left: 10px;
}
.confirm-button{
    background-color: red;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 8px;
}
.title-reason{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}
.cancel-button{
    border: 1px solid black;
    width: 100px;
    height: 30px;
    margin-right: 15px;
    border-radius: 8px;
}
.inner-reason-modal{
    position: absolute;
    top: 0;
    width: 300px;
    height: 306px;
    background-color: white;
    border-radius: 8px;
    left: calc(50% - 300px/2 + 0.5px);
    top: calc(50% - 306px/2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 48px;
}
.btn-view-confirm-order{
    width: 80px;
    height: 30px;
    background-color: #00b2ff;
    border: none;
    color: white;
    border-radius: 8px;
}